// Requirements
// ============

@import "susy";

$susy: (
columns: 12,
gutters: 1/2,
container-position: center,
);

/**
 * Global styles
 */
* {
    box-sizing: border-box;
}
.wrapper {
    width:100%;
    max-width:100%;
}
.container {
    @include container(1015px);
}
.header {
    @media screen and (max-width:$screen-xs){
        .logo {
            display:none;
        }
    }
    @media screen and (min-width:$screen-sm){
        nav{
            @include span(8 of 10);
        }
        .logo {
            @include span(last 2 of 10);
        }
    }
}
article{
    section {
        margin:0 auto;
    }
    .post_content{
        @include span(7 of 10);
        position:relative;
        &.full{
           @include span(10 of 10); 
        }
    }
    .zitate{
        @include span(last 3 of 10); 
    }
    footer {
        clear:both;
    }
}
#impressum, #kontakt{
    .row{
        @include container;
        > [class*="col"]{
            @include span(4 of 12);
        }
        > [class*="col"]:last-child{
            @include last;
        }
    }
}