// Requirements
// ============

@import "susy";

$susy: (
columns: 12,
gutters: 1/2,
container-position: center,
);
.wrapper {
    width:100%;
    max-width:100%;
}
.header {
    .container {
        @include container(1170px);
        margin:0 auto;
        > .navbar-toggle{display: none;}
        > nav{
            @include span(9 of 12);
        }
        > .logo {
            @include span(last 3 of 12);
        }
    }
}
article{
    .container{
        section {
            @include container(1170px);
            margin:0 auto;
        }
        .post_content > div{
            @include span(8 of 12); 
        }
        .post_content.full > div{
            @include span(12); 
        }

        .quote{
            @include span(last 4 of 12); 
        }
        footer {
            clear:both;
        }

    }
    &.buttons{
        section{
            > *{
                @include span(5 of 12);
            }
        }
    }
}
.conditions {
    margin-top:1em;
    .unterrubriken & {
        padding-bottom: 2em;
    }
    .row{
        @include container;
        > .label{
            @include span(2 of 7); 
        }
        > .value{
            @include span(last 5 of 7); 
        }
    }
}
#impressum{
    .row{
        @include display-flex;
        @include flex-flow(wrap);
        > .container {
            [class*="col"]{
                @include flex-grow(1);
            }
        }
    }
}
#kontakt{
    .row{
        @include display-flex;
        @include flex-flow(wrap);
        > .container {
            [class*="col"]{
                 @include flex(1 0);
            }
    }
}
}