header.header{ 
    background:white !important;
    > .container {
        @media screen and (max-width:$screen-md - 1){
            height:100%;
        }  
    }
    /** Responsive Nav ***/
    @media screen and (min-width:533px){
        .scroll-to-top.mobile-layout{
            display:none;
        }
    }
    @media screen and (min-width:$screen-md){
        .navbar-toggle,#navbar-toggle{
            display:none;
        }
    }
    @media screen and (max-width:$screen-md - 1){
        .navbar-toggle, .scroll-to-top{
            position:fixed;
            z-index:999;
            cursor: pointer;
            display:block;
            top:0;
            background:white;
            padding:12px;
            img {
                height:20px;
            }
        }
        .scroll-to-top{
            padding:12px 14px;
        }
        input[type=checkbox]#navbar-toggle {
            position: absolute;
            top: -9999999px;
            left: -9999999px;
        }
        input[type=checkbox]:checked ~ nav.nav {
/*            height:auto;*/
              display:block;
        }
/*        input[type=checkbox]:checked ~ .logo {
            height:auto;
              opacity: .2;
        }*/
        /* Default State */
        nav.nav {
            position:absolute;
            left:0;
            z-index:9999;
/*            height:0;*/
            background:white;
            overflow: hidden;
            display:none;
        }
        /* Toggled State */

        nav {
            ul{
                li{
                    display: block;
                    padding:1em;
                    @include border-panel(0 0 1px 0,dotted,$basecolor);
                }
            }
        }
    }
    
    /** Header Look ***/
    @media screen and (max-width:$screen-xs){
        height:44px;
        label.navbar-toggle { 
            right:0px;
        }
        .logo {
            width:120px;
            top:55px;
            @media screen and (orientation:portrait){
                right:50%;
                margin-right: -140px;
            }
            @media screen and (orientation:landscape){
                right:25%;
                margin-right:-12%;
            }
        }
        nav.nav {
            top:46px;
            width:100%;
            ul {
                &:after{
                    content:' ';
                    background: white url('../img/arrow-mobile.svg') no-repeat center center / 2em auto;
                    display: block;
                    width:100%;
                    height:44px;
                }
            }
        }
    }
    @media screen and (min-width:533px) and (max-width:$screen-md){
        height:44px;
        background:#fff;
        label.navbar-toggle { 
            left:0px;
            right:0;
            z-index:999;
        }
           nav.nav {
            top:46px;
            width:50%;
            ul {
                padding:0 2em;
                li:last-child{
                    border:0;
                }
            }
        }
    }
    @media screen and (min-width:$screen-md){
        height:$headerHeight;
        background-color: #fff;
    }
}
#bt-kontakt{
    cursor: pointer;
    display:block;
    position:fixed;
    z-index:998;
    a {
        display:block;
    }
    @media screen and (max-width:$screen-xs){      
        top:0;
        left: 0;
        right: 0;
        bottom:0;
        a{
            display:block;
            background: white;
            line-height: 46px;
            padding: 0 0 0 60px;
        }

    }
    @media screen and (min-width:533px){
        @include rotate(-90deg);
        @include transform-origin(0%,0%);
        top:250px;
        left:0;
        z-index:99;
        a {
            padding:.5em 1em;
            background: $basecolor;
        }
    }
}
.logo{
    position: absolute;
    z-index:99;
    top:0;
    right:0;
    > img {
        max-width: 100%;
        height: auto;
    }
    header.header{
/*        @media screen and (max-width:$screen-md){
            display:none;
        }*/
        @media screen and (min-width:$screen-lg){
            width:200px;
            top:25px;
        }
    }
    @media screen and (min-width:$screen-xs) and (max-width:$screen-md - 1){
        width:160px; 
        right:5%;
    }
    @media screen and (min-width:$screen-md) and (max-width:$screen-lg -1){
        width:180px; 
    }

}
nav.nav {
    @media screen and (min-width:$screen-md){
        margin-top:$headerHeight/2;
        ul {
            li {
                float:left;
                display: inline-block;
                margin-right: 1em;
            }
        }
    }
}

section.main{
    @media screen and (max-width:$screen-xs){
        margin-top:44px;
    }
    @media screen and (min-width:533px) and (max-width:$screen-md){
        margin-top:44px;
    }
    @media screen and (min-width:$screen-md){
        margin-top:$headerHeight;
    }
    article{
        position:relative;
    }
    .article-header{
        position:relative;
        @media screen and (max-width:$screen-xs){
            min-height:180px;
            background-size: 200%;
            background-position: 0;
        }
    }
}

.thumbnail{
    display: none;
}