.container{
    position:relative;
}
.navbar-toggle{
    @media screen and (min-width:$screen-sm){
        display:none;
    }
}
.wrapper{}
header.header{
    height:$headerHeight;
    nav {
        margin-top:50px;
        ul {
            li {
                float:left;
                display: inline-block;
                margin-right: 1em;
            }
        }
    }
    .logo{
        position: absolute;
        top:25px;
        right:0;
        right:0;
        z-index:9999;
        width:200px;
        > img {
            max-width: 100%;
            height: auto;
        }
    }
}
header .nav li.kontakt{
    position: fixed;
    top:170px;
    left:-45px;
    z-index: 9999999999999;
    padding:1em 1em .5em 1em;
    @include rotate(-90deg);
    background: $basecolor;
}
article{
    position:relative;
    > header{
        height: 350px;
        background-position:0 40%;
        background-size:cover;
        position:relative;
        .thumbnail{
            background: transparent url('../img/Bilderrahmen.svg') top center no-repeat;
            width: span(7);
            position:absolute;
            top:2em;
            left:2em;
            z-index:99;
            padding:3px;
            @include rotate(-1.25deg);

            img{
                border:.7em solid white;
                max-width: 100%;
                height:auto;
            }
        }

    }
    > section {
        min-height: 410px;
        @include container(1170px);
        padding-top:120px;
        background-color:white;
        background-image:url('../img/Voegel.svg'),url('../img/Leuchtturm.svg');
        background-repeat: no-repeat;
        background-position: 0 60px,85% 20px;
        background-size: auto 80px, auto 375px;
        /*        background-attachment:fixed;*/
    }
    &#ueber-mich header {background-position-y: 30%;}
}
.page-title{
    position: absolute;
    top: 0;
    left: 0;
    text-indent:-100%;
    display:inline-block;
    overflow:hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position:center center;
    #trauer-und-abschied &{
        background-image: url('../img/bg-trauer-abschied.svg');
        width:242px;
        height:58px;
        top: 10%;
        left: 50%;
        margin-left: -121px;
    }
    #so-begleite-ich-sie &{
        background-image: url('../img/bg-so-begleite-ich-sie.svg');
        width:244px;
        height:69px;
        left: 10%;
        top: 65%;
    }
    #fuer-trauerende &{
        background-image: url('../img/bg-fuer-trauernde.svg');
        width:190px;
        height:70px;
        top: 25%;
        left: 55%;
    }
    #fuer-eltern &{
        background-image: url('../img/bg-fuer-eltern.svg');
        width:145px;
        height:59px;
        top: 35%;
        left: 10%;

    }
    #fuer-kitas-und-schulen &{
        background-image: url('../img/bg-fuer-kitas-schulen.svg');
        width:191px;
        height:97px;
        top: 30%;
        left:55%
    }
    &#ueber-mich,#kontakt,#impressum{display: none;}
}
section{
    article#start &, article#kontakt &, article#impressum &{
        background-image: none;
        background-color: transparent;
    }
    article#kontakt &, article#impressum &{

        [class*="col"]{
            @include border-panel(0 0 0 1px,dotted,$bgcolor);
            width:33%;
            min-height: 100px;
            padding:1em 2em;
            > div:first-child {
                border:0;
            }
        }
        [class*="col"].last{
            border-right: 0;
            padding-right: 0;
        }
        [class*="col"].first{
            border-left: 0;
            padding-left: 0;

        }
        [class*="col"].full{
            @include flex-grow(3);
            width:100%;
            @include border-panel(1px 0,dotted,$bgcolor);
            margin-top:3em;
            text-align:left;
            > div{padding:1em 0 !important;}
            > div{padding-top:1em !important;}
        }

    }
}
article#start{
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vH;
    header {
        height:0;
        line-height: 0;
        visibility: none;
    }
    section {
        padding-top:480px;
        ul{ 
            max-width:400px;
            li{
                margin:0 0 .2em 0;
                min-height:60px;
                @include alpha-background-color(rgba($basecolor, 0.75), white);
                @include bullets(url('../img/bullets.svg'), 1em 1em, auto 12px);
                padding:.75em .75em .75em 3em;
                color:white;
                display:block;
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
}
article#kontakt, article#impressum{
    background-color: $basecolor;
}
footer.footer{
    background: $basecolor;
    padding:1em 0;

    body.home &{
        background-color: white !important;
        /*        z-index:10;*/
        > * {color:$basecolor !important;}
    }
    body:not(.home) & {
        margin-top: 2em;
        *{
            color:white !important;
        }
    }
}

.panel {
    .conditions{
        padding-bottom: 2em;
    }
    margin-bottom:-1px;
    > header {
        padding:.5em 0;
        @include border-panel(1px 0,dotted,$blue);
        position:relative;
        &:hover{
            cursor: pointer;
        }
        &:after {
            content: ' ';
            background:transparent url('../img/arrow.svg') no-repeat right center / cover;
            display:inline-block;
            position:absolute;
            top:50%;
            margin-top:-.25em;
            right:0;
            height:9px;
            width:18px;
            @include rotate(180deg);
        }
        &.open:after{
            @include rotate(0deg);
        }
        > * {
            font-size:$baseFontsize;
            font-weight:600;
            line-height: 1.4;
            margin:0;
        }
    }
    .panel-content{
        margin-top:.75em;
    }
    table{
        width:100%;
        margin-bottom:2em;
        > * {
            color:$blue;
        }
        tr {
            @include border-panel(0 0 1px 0,dotted,$blue);
            td {
                padding:.5em 0;
            }
            td:first-child{
                width:180px;
            }
        }
        tr:last-child{border:0;}
    }
    &.parent{
        padding-bottom:2em;
        table{
            margin:-1px 0;
            tr:first-child {
                @include border-panel(1px 0 0 0,dotted,$blue);
                td{
                    padding-top:.5em;
                }
            }
            tr:last-child {
                @include border-panel(0 0 1px 0,dotted,$blue);
                td{
                    padding-bottom:.5em;
                }
            }
            tr{
                border:0;
                td{
                    padding:.25em 0;
                }
                
            }
            ~p.small{
                margin-top:2em;
            }
        }
    }
}
.scroll-to-top {
    background: $headerSpan url('../img/arrow-white.svg') no-repeat center center / 50%;
    border:0;
    bottom: .75em;
    position: fixed;
    width:30px;
    height:30px;
    z-index: 9999;
    right: 5%;
    color: white;
    cursor: pointer;
    display: none;
    transition: all 0.1s linear 0s;
    opacity: 0.8;
    &:hover {
        background-color: $beige;
        opacity: 1;
    }

}