/*.navbar-toggle{
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(space-around);
    background-color: transparent;
    background-image: none;
    border: 0;
    width:30px;
    height:20px;
}
.icon-bar{
    @include display-flex(1 0);
    background:$beige;
    width: inherit;
    height: 2px;
}*/
