/*.wrapper {
    :after{
        content: ' ';
        background: transparent url('../img/grid.png') repeat-y top center !important;
        opacity: .5;
        width:100%;
        height: 100%;
        position: fixed;
        top:0;
        right:0;
        display: block;
        border:1px solid red;
        z-index:99999999999999999999999999;
    }
}*/