/**** Debugging ***/

@mixin foo($col){
    border:2px dashed $col;
}

/**** Breakpoints ***/
$screen-mini: 320px;
$screen-xs: 480px;
$screen-maxPhone: 736px;
$screen-smallPad:600px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-iPadlandscape: 1024px;
$screen-lg: 1200px;
/** Specials **/
$screen-Lumia520-landscape:533px;
$screen-Iphone5-landscape:568px;
$screen-Iphone6-landscape:667px;
$screen-Iphone6plus-landscape:736px;
$screen-nexus7-landscape:960px;
/**** type ***/
$baseHeadWeight:300;
$baseFontstack:'Open Sans', Arial, Verdana, Helvetica, sans-serif;
$baseFontsize:14px;
$baselineHeight:$baseFontsize * 1.13;
$baseFontsizeMiddle:$baseFontsize * 1.13;

$font-size-h1: 3.33em;
$font-size-h2: 2em;
$font-size-h3: $font-size-h1/2;
$font-size-h4: $baseFontsize;
$font-size-h5: $baseFontsize;
$font-size-h6: $baseFontsize;

$button-size:$baseFontsize * 1.5;

/**** colors ***/
$bgcolor: white;
$blue:#558dbe;
$basecolor:$blue;
$brown:rgba(52,52,52,0.85);
$beige:#c1a879;
$lightbeige:#dacbaf;
$textcolor:#4d575e;
$headerSpan:#5d7677;

//*** misc. measuremts ****/
$headerHeight:80px;

/**** Mixins *****/
.justify-text{
    text-align:justify;
    text-align-last:left;
    max-width: 95%;
}
@mixin border-panel($width,$style,$color){
    border-width: $width;
    border-style: $style;
    border-color:$color;
}

//border-image
@mixin border-image($imgURL,$width,$offset,$hrepeat, $vrepeat){
    border-style: solid;
    border-width: $width;
    -moz-border-image: $imgURL $offset $hrepeat $vrepeat;
    -webkit-border-image: $imgURL $offset $hrepeat $vrepeat;
    -o-border-image: $imgURL $offset $hrepeat $vrepeat;
    border-image: $imgURL $offset fill $hrepeat $vrepeat;
}
// rotate
@mixin rotate($dg){
-moz-transform: rotate($dg);
-webkit-transform: rotate($dg);
-o-transform: rotate($dg);
-ms-transform: rotate($dg);
transform: rotate($dg);
}
///alpha background
@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}
/*@include alpha-background-color(rgba($blue, 0.75), white);*/
/*** bullets***/
@mixin bullets($url, $pos, $size){
    background-image:$url;
    background-repeat: no-repeat;
    background-position: $pos;
    background-size: $size;
}
/*** Thumbnail Sie ***/
@mixin thumbnails{
     height:510px;
     width: 745px;
}