@mixin border-panel($width,$style,$color){
    border-width: $width;
    border-style: $style;
    border-color:1px dotted $color;
}

//border-image
@mixin border-image($imgURL,$width,$offset,$hrepeat, $vrepeat){
    border-style: solid;
    border-width: $width;
    -moz-border-image: $imgURL $offset $hrepeat $vrepeat;
    -webkit-border-image: $imgURL $offset $hrepeat $vrepeat;
    -o-border-image: $imgURL $offset $hrepeat $vrepeat;
    border-image: $imgURL $offset fill $hrepeat $vrepeat;
}
// rotate
@mixin rotate($dg){
    -moz-transform: rotate($dg);
    -webkit-transform: rotate($dg);
    -o-transform: rotate($dg);
    -ms-transform: rotate($dg);
}