.conditions, .panel {

    .row{
        @include container;
        
        
        > .value{
            font-weight:600;
        }
    }
}
.conditions{
    padding-bottom:2em;
}
.panel {
    margin-top:-1px;
}
.panel-content{
    
}