


header{
    
}
section{
    article#start &, article#kontakt &, article#impressum &{
        background-image: none;
        background-color: transparent;
        min-height: 500px;
    }
    article#kontakt &, article#impressum &{
          [class*="col"]{
                @include border-panel(0 0 0 1px,dotted,$bgcolor);
                width:33%;
                > div {
                    padding:0 3em;
                }
                > div:first-child {
                    border:0;
                }
            }
            [class*="col"].last{
                padding-right: 0;
                border-right: 0;
            }
            [class*="col"].first{
                padding-left: 0;
                border-left: 0;
            }
            [class*="col"].full{
                @include flex-grow(3);
                width:100%;
                @include border-panel(1px 0 0 0,dotted,$bgcolor);
/*                margin-top:3em;
                text-align:left;
                > div{padding:1em 0 !important;}
                > div{padding-top:1em !important;}*/
            }
        
    }
    article#start &{
        padding-top: 0;
        margin-top: -35vH;
        ul{ 
            max-width:450px;
            li{
                margin:0 0 .2em 0;
                @include alpha-background-color(rgba($basecolor, 0.75), white);
                @include bullets(url('../img/bullets.svg'), 1em 1em, auto 1em);
                padding:1em 1em 1em 3em;
                color:white;
                display:block;
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
    
}
    article#kontakt, article#impressum{
        background-color: $basecolor;
    }

