
body {
    font-family: $baseFontstack;
    font-size: $baseFontsize;
    line-height: $baselineHeight;
    color: $textcolor;
    background-color: $bgcolor;
}
a{
    color:$blue;
    &:link{
        color:$blue;
    }
    &:focus, &:visited{
        color:lighten($basecolor, 10%);
    }
        &:hover{
        color:$beige;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: $baseFontstack;
    font-weight: $baseHeadWeight;
    line-height: 1.4;
    color: $basecolor;
}
h1{ font-size: $font-size-h1; }
h2{ font-size: $font-size-h2;}
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

article{
    h1 {
        color:$blue;
        font-weight: 700;
        letter-spacing: -2px;
        font-size:$font-size-h1; 
        text-transform:uppercase;
    }
    p{
        color:$textcolor;
        font-size: 1em;
        line-height: 1.3;
        margin-bottom: 1.95em;
    }
    blockquote{
        > *{
        color:$basecolor;
        font-size:1.33em;
        line-height: 1.33;
        margin-bottom: 1.625em;
        }
    }
    &.buttons{
        ul{
            li{
                display:block;
                font-size:$button-size;
                line-height:1.33;
                font-weight:bold;}
        }
    }
    
}
.header {
    .nav{
        margin-top:25px;
        a {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1em; 
        }
    }
}
