$baseFontstack:             'Open Sans', Verdana, Arial, Helvetica, sans-serif;
$baseHeadstack:             $baseFontstack;           
$baseHeadWeight:            300;

$baseFontsize:              16px;
$baselineHeight:            $baseFontsize * 1.5;

$font-size-h1: 3vw;
$font-size-h2:  2vw;
$font-size-h3: $font-size-h1/2;
$font-size-h4:  $baseFontsize;
$font-size-h5:  $baseFontsize;
$font-size-h6:  $baseFontsize;

body {
    font-family: $baseFontstack;
    font-size: $baseFontsize;
    line-height: $baselineHeight;
    color: $color-text;
    background-color: $color-bg;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $baseHeadstack;
    font-weight: $baseHeadWeight;
    line-height: $baselineHeight;
    color: $primary;
}
h1{ font-size: $font-size-h1; }
h2{ font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }