/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**** Debugging ***/
/**** Breakpoints ***/
/** Specials **/
/**** type ***/
/**** colors ***/
/**** Mixins *****/
/* line 50, ../sass/_variables.scss */
.justify-text {
  text-align: justify;
  text-align-last: left;
  max-width: 95%;
}

/*@include alpha-background-color(rgba($blue, 0.75), white);*/
/*** bullets***/
/*** Thumbnail Sie ***/
/* line 2, ../sass/_typo.scss */
body {
  font-family: "Open Sans", Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 15.82px;
  color: #4d575e;
  background-color: white;
}
/* line 8, ../sass/_typo.scss */
body.page-template-page-full-width {
  background-color: #558dbe;
}

/* line 12, ../sass/_typo.scss */
hr {
  height: 1px;
  border-width: 1px 0 0 0;
  border-style: dotted;
  border-color: #558dbe;
  margin: 2em 0;
}

/* line 17, ../sass/_typo.scss */
*:hover, *:focus {
  outline: none;
}

/* line 18, ../sass/_typo.scss */
a {
  color: #558dbe;
}
/* line 20, ../sass/_typo.scss */
a:link {
  color: #558dbe;
}
/* line 23, ../sass/_typo.scss */
a:focus, a:visited {
  color: #7aa6cc;
}
/* line 26, ../sass/_typo.scss */
a:active, a:focus {
  outline: none;
}
/* line 29, ../sass/_typo.scss */
a:hover {
  color: #c1a879;
}

/* line 33, ../sass/_typo.scss */
p.small {
  font-size: smaller;
}

/* line 36, ../sass/_typo.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, Verdana, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: #558dbe;
}

/* line 42, ../sass/_typo.scss */
h1 {
  font-size: 3.33em;
}

/* line 43, ../sass/_typo.scss */
h2 {
  font-size: 2em;
}

/* line 44, ../sass/_typo.scss */
h3 {
  font-size: 1.665em;
}

/* line 45, ../sass/_typo.scss */
h4 {
  font-size: 14px;
}

/* line 46, ../sass/_typo.scss */
h5 {
  font-size: 14px;
}

/* line 47, ../sass/_typo.scss */
h6 {
  font-size: 14px;
}

/* line 50, ../sass/_typo.scss */
.scroll-to-top.screen-layout {
  text-transform: uppercase;
  font-size: 15.82px;
  color: #c1a879;
  display: inline-block;
  float: right;
  padding: 0 1em;
}
/* line 57, ../sass/_typo.scss */
.scroll-to-top.screen-layout:hover {
  text-decoration: none;
  opacity: .5;
}

/* line 63, ../sass/_typo.scss */
b, strong {
  font-weight: 600 !important;
}

/* line 67, ../sass/_typo.scss */
article .post_content {
  /*        @extend .justify-text;*/
}
/* line 70, ../sass/_typo.scss */
article h1 {
  color: #558dbe;
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 3.33em;
  text-transform: uppercase;
}
/* line 77, ../sass/_typo.scss */
article i, article em {
  font-style: italic;
}
/* line 79, ../sass/_typo.scss */
article p {
  color: #4d575e;
  font-size: 1em;
  line-height: 1.3;
  margin-bottom: 1.95em;
}
/* line 84, ../sass/_typo.scss */
article p:last-child {
  margin-bottom: 0;
}
/* line 87, ../sass/_typo.scss */
article aside[id*="quote"] p {
  color: #558dbe;
  font-size: 15.82px;
  line-height: 1.33;
  margin-bottom: 1.625em;
}
/* line 95, ../sass/_typo.scss */
article ul {
  margin-bottom: 2.3em;
}
/* line 97, ../sass/_typo.scss */
article ul li {
  /* margin:.5em 0 .5em 2em;*/
  background: transparent url("../img/bullets_beige.svg") no-repeat 0px 2px/auto 1em;
  margin: 0 0 1em 0;
  padding-left: 2em;
  line-height: 1.4;
}
/* line 106, ../sass/_typo.scss */
article#start ul {
  margin: 0;
}
/* line 108, ../sass/_typo.scss */
article#start ul li {
  display: block;
  font-size: 15.4px;
  line-height: 1.33;
  font-weight: 600;
  letter-spacing: .015em;
}
/* line 114, ../sass/_typo.scss */
article#start ul li:before {
  background-image: none !important;
  margin: 0;
}
/* line 121, ../sass/_typo.scss */
article#kontakt {
  font-size: 15.4px;
  line-height: 2em;
}
/* line 124, ../sass/_typo.scss */
article#kontakt strong {
  color: #dacbaf;
}
/* line 128, ../sass/_typo.scss */
article#kontakt strong, article#kontakt .label {
  line-height: 1;
}
/* line 131, ../sass/_typo.scss */
article#kontakt p {
  margin-top: 0;
}
/* line 135, ../sass/_typo.scss */
article#impressum {
  font-size: inherit;
  line-height: inherit;
  text-align: center;
}
/* line 139, ../sass/_typo.scss */
article#impressum strong, article#impressum .label {
  font-size: 18.06px;
  line-height: 1.2em;
}
/* line 145, ../sass/_typo.scss */
article#kontakt, article#impressum {
  color: white;
  font-weight: 600;
}
/* line 149, ../sass/_typo.scss */
article#kontakt p, article#kontakt li, article#impressum p, article#impressum li {
  color: inherit;
}
/* line 153, ../sass/_typo.scss */
article#kontakt a, article#impressum a {
  color: white !important;
  text-decoration: underline;
}
/* line 157, ../sass/_typo.scss */
article#kontakt strong, article#kontakt .label, article#impressum strong, article#impressum .label {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1em;
}

/* line 168, ../sass/_typo.scss */
.header .nav li a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.93em;
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  /* line 168, ../sass/_typo.scss */
  .header .nav li a {
    font-size: 0.8em;
  }
}
/* line 175, ../sass/_typo.scss */
.header .nav li a:hover, .header .nav li a:focus {
  text-decoration: none;
}
/* line 180, ../sass/_typo.scss */
.header .nav li.current_page_item a {
  color: #c1a879 !important;
}

/* line 183, ../sass/_typo.scss */
.footer {
  font-size: 1em;
  line-height: 2em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 192, ../sass/_typo.scss */
#bt-kontakt a {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  text-decoration: none;
}
/* line 197, ../sass/_typo.scss */
#bt-kontakt a:hover {
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  /* line 192, ../sass/_typo.scss */
  #bt-kontakt a {
    color: white;
  }
  /* line 202, ../sass/_typo.scss */
  #bt-kontakt a:hover, body.kontakt #bt-kontakt a {
    background: #c1a879;
  }
}
@media screen and (max-width: 480px) {
  /* line 192, ../sass/_typo.scss */
  #bt-kontakt a {
    color: #c1a879;
  }
}

/**
 * Global styles
 */
/* line 14, ../sass/_grids.scss */
* {
  box-sizing: border-box;
}

/* line 17, ../sass/_grids.scss */
.wrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
}

/*** Sticky Footer ***/
/* line 24, ../sass/_grids.scss */
html,
body:not(.ie) {
  height: 100%;
}

/* sticky footer and main width */
/* line 30, ../sass/_grids.scss */
body:not(.ie) .wrapper {
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 34, ../sass/_grids.scss */
body:not(.ie) .wrapper > #content {
  -webkit-flex: 1 0;
  flex: 1 0;
}

/** Global width ***/
/* line 40, ../sass/_grids.scss */
.container {
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 40, ../sass/_grids.scss */
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 44, ../sass/_grids.scss */
  section .container {
    padding: 0 1em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  /* line 40, ../sass/_grids.scss */
  .container {
    max-width: 875px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media screen and (min-width: 1200px) {
  /* line 40, ../sass/_grids.scss */
  .container {
    max-width: 1015px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media screen and (max-width: 768px) {
  /* line 55, ../sass/_grids.scss */
  header.header {
    position: fixed;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  /* line 61, ../sass/_grids.scss */
  header.header nav {
    width: 79.31034%;
    float: left;
    margin-right: 3.44828%;
  }
  /* line 64, ../sass/_grids.scss */
  header.header .logo {
    width: 17.24138%;
    float: right;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  /* line 71, ../sass/_grids.scss */
  article .post_content {
    width: 68.96552%;
    float: left;
    margin-right: 3.44828%;
    position: relative;
  }
  /* line 76, ../sass/_grids.scss */
  article .post_content.full {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  /* line 82, ../sass/_grids.scss */
  article .zitate {
    width: 27.58621%;
    float: right;
    margin-right: 0;
  }
}

/* line 1, ../sass/_layout.scss */
header.header {
  z-index: 999;
  /** Responsive Nav ***/
  /** Header Look ***/
}
@media screen and (max-width: 991px) {
  /* line 3, ../sass/_layout.scss */
  header.header > .container {
    height: 100%;
  }
}
@media screen and (min-width: 533px) {
  /* line 10, ../sass/_layout.scss */
  header.header .scroll-to-top.mobile-layout {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  /* line 15, ../sass/_layout.scss */
  header.header .navbar-toggle, header.header #navbar-toggle, header.header .scroll-to-top.mobile-layout {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  /* line 20, ../sass/_layout.scss */
  header.header .navbar-toggle, header.header #navbar-toggle {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  /* line 1, ../sass/_layout.scss */
  header.header {
    /* Default State */
    /* Toggled State */
  }
  /* line 25, ../sass/_layout.scss */
  header.header .navbar-toggle, header.header .scroll-to-top, header.header #bt-kontakt {
    position: absolute;
    cursor: pointer;
    display: block;
    top: 0;
  }
  /* line 31, ../sass/_layout.scss */
  header.header .scroll-to-top {
    padding: 11px 12px;
  }
  /* line 33, ../sass/_layout.scss */
  header.header .scroll-to-top > img {
    height: 22px;
    width: auto;
  }
  /* line 38, ../sass/_layout.scss */
  header.header input[type=checkbox]#navbar-toggle {
    position: absolute;
    top: -9999999px;
    left: -9999999px;
  }
  /* line 43, ../sass/_layout.scss */
  header.header input[type=checkbox]:checked ~ nav.nav {
    /*            height:auto;*/
    display: block;
  }
  /* line 47, ../sass/_layout.scss */
  header.header input[type=checkbox]:checked ~ .logo {
    /*            height:auto;*/
    opacity: .2;
  }
  /* line 52, ../sass/_layout.scss */
  header.header nav.nav {
    position: absolute;
    left: 0;
    z-index: 9999;
    /*            height:0;*/
    background: white;
    overflow: hidden;
    display: none;
  }
  /* line 65, ../sass/_layout.scss */
  header.header nav ul li {
    display: block;
    padding: 1em;
    border-width: 0 0 1px 0;
    border-style: dotted;
    border-color: #558dbe;
  }
}
@media screen and (max-width: 480px) {
  /* line 1, ../sass/_layout.scss */
  header.header {
    height: 46px;
  }
  /* line 77, ../sass/_layout.scss */
  header.header .navbar-toggle, header.header .scroll-to-top, header.header #bt-kontakt {
    height: 44px;
  }
  /* line 80, ../sass/_layout.scss */
  header.header label.navbar-toggle {
    right: 0px;
    padding: 14px 9px;
  }
  /* line 84, ../sass/_layout.scss */
  header.header .navbar-toggle, header.header .scroll-to-top {
    width: 44px;
    background: #fff;
  }
  /* line 88, ../sass/_layout.scss */
  header.header .logo {
    width: 120px;
    top: 55px;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  /* line 88, ../sass/_layout.scss */
  header.header .logo {
    right: 50%;
    margin-right: -140px;
  }
}
@media screen and (max-width: 480px) and (orientation: landscape) {
  /* line 88, ../sass/_layout.scss */
  header.header .logo {
    right: 25%;
    margin-right: -12%;
  }
}
@media screen and (max-width: 480px) {
  /* line 100, ../sass/_layout.scss */
  header.header nav.nav {
    top: 46px;
    width: 100%;
  }
  /* line 104, ../sass/_layout.scss */
  header.header nav.nav ul:after {
    content: ' ';
    background: white url("../img/arrow-mobile.svg") no-repeat center center/2em auto;
    display: block;
    width: 100%;
    height: 44px;
  }
}
@media screen and (min-width: 533px) and (max-width: 992px) {
  /* line 1, ../sass/_layout.scss */
  header.header {
    height: 74px;
    background: #fff;
  }
  /* line 117, ../sass/_layout.scss */
  header.header .navbar-toggle, header.header .scroll-to-top, header.header #bt-kontakt {
    height: 70px;
  }
  /* line 120, ../sass/_layout.scss */
  header.header label.navbar-toggle {
    left: 0px;
    padding: 20px;
    width: 70px;
    z-index: 999;
  }
  /* line 126, ../sass/_layout.scss */
  header.header nav.nav {
    top: 76px;
    width: 50%;
  }
  /* line 129, ../sass/_layout.scss */
  header.header nav.nav ul {
    padding: 0 20px;
  }
  /* line 131, ../sass/_layout.scss */
  header.header nav.nav ul li:last-child {
    border: 0;
  }
}
@media screen and (min-width: 992px) {
  /* line 1, ../sass/_layout.scss */
  header.header {
    height: 80px;
    background-color: #fff;
  }
}

/* line 142, ../sass/_layout.scss */
#bt-kontakt {
  cursor: pointer;
  display: block;
}
/* line 145, ../sass/_layout.scss */
#bt-kontakt a {
  display: block;
}
@media screen and (max-width: 480px) {
  /* line 142, ../sass/_layout.scss */
  #bt-kontakt {
    top: 0;
    left: 47px;
    right: 47px;
    height: 44px;
  }
  /* line 153, ../sass/_layout.scss */
  #bt-kontakt a {
    display: block;
    background: white;
    padding: 1em;
  }
}
@media screen and (min-width: 768px) {
  /* line 142, ../sass/_layout.scss */
  #bt-kontakt {
    position: fixed;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    top: 250px;
    left: 0;
    z-index: 999;
  }
  /* line 167, ../sass/_layout.scss */
  #bt-kontakt a {
    padding: .5em 1em;
    background: #558dbe;
  }
}

/* line 173, ../sass/_layout.scss */
.logo {
  position: absolute;
  z-index: 999;
  top: 25px;
  right: 0;
}
/* line 178, ../sass/_layout.scss */
.logo > img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 480px) and (max-width: 991px) {
  /* line 173, ../sass/_layout.scss */
  .logo {
    width: 160px;
    right: 5%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px -1) {
  /* line 173, ../sass/_layout.scss */
  .logo {
    width: 180px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 173, ../sass/_layout.scss */
  .logo {
    width: 200px;
  }
}

@media screen and (min-width: 992px) {
  /* line 193, ../sass/_layout.scss */
  nav.nav {
    margin-top: 40px;
  }
  /* line 197, ../sass/_layout.scss */
  nav.nav ul li {
    float: left;
    display: inline-block;
    margin-right: 1em;
  }
}

/* line 205, ../sass/_layout.scss */
section.main {
  margin-top: 300px;
}

/*** Ie hacks ***/
/* line 6, ../sass/_ie.scss */
.ie article ul {
  margin-left: 1em;
}
/* line 8, ../sass/_ie.scss */
.ie article ul li {
  background-image: none !important;
  list-style: square;
  list-style-position: inside;
  padding-left: 0;
}
/* line 17, ../sass/_ie.scss */
.ie article#start ul {
  margin: 0;
}
/* line 19, ../sass/_ie.scss */
.ie article#start ul li {
  padding-left: 2em;
  list-style: none;
}
/* line 25, ../sass/_ie.scss */
.ie article:not(#start) {
  /*        > section {
              min-height: 410px;
              @include container(1170px);
              padding-top:120px;
              background:white url('../img/Voegel.svg') no-repeat 0 0;
              background-size: auto 80px;
              background-attachment:fixed;
              
          }*/
}
/* line 26, ../sass/_ie.scss */
.ie article:not(#start) > section {
  width: 1170px;
  background: white url("../img/Voegel.svg") no-repeat 0px 80px;
  background-size: auto 80px;
}
/* line 30, ../sass/_ie.scss */
.ie article:not(#start) > section .zitate {
  background: transparent url("../img/Leuchtturm.svg") no-repeat center top;
  background-size: auto 100%;
  min-height: 375px;
}
/* line 47, ../sass/_ie.scss */
.ie .logo a, .ie .logo .logo-img {
  width: 200px;
  display: block;
  max-width: none;
}
