/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**** Debugging ***/
/**** Breakpoints ***/
/**** type ***/
/**** colors ***/
/**** Mixins *****/
/*@include alpha-background-color(rgba($blue, 0.75), white);*/
/*** bullets***/
/*** Thumbnail Sie ***/
/* line 2, ../sass/_typo.scss */
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 15.82px;
  color: #4d575e;
  background-color: white;
}

/* line 9, ../sass/_typo.scss */
a {
  color: #558dbe;
}
/* line 11, ../sass/_typo.scss */
a:link {
  color: #558dbe;
}
/* line 14, ../sass/_typo.scss */
a:focus, a:visited {
  color: #7aa6cc;
}
/* line 17, ../sass/_typo.scss */
a:active, a:focus {
  outline: none;
}
/* line 20, ../sass/_typo.scss */
a:hover {
  color: #c1a879;
}

/* line 24, ../sass/_typo.scss */
p.small {
  font-size: smaller;
  margin-top: 2em;
}

/* line 28, ../sass/_typo.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: #558dbe;
}

/* line 34, ../sass/_typo.scss */
h1 {
  font-size: 3.33em;
}

/* line 35, ../sass/_typo.scss */
h2 {
  font-size: 2em;
}

/* line 36, ../sass/_typo.scss */
h3 {
  font-size: 1.665em;
}

/* line 37, ../sass/_typo.scss */
h4 {
  font-size: 14px;
}

/* line 38, ../sass/_typo.scss */
h5 {
  font-size: 14px;
}

/* line 39, ../sass/_typo.scss */
h6 {
  font-size: 14px;
}

/* line 41, ../sass/_typo.scss */
.scroll-to-top {
  text-transform: uppercase;
  font-size: 15.82px;
  color: #c1a879;
  display: inline-block;
  float: right;
  padding: 0 1em;
  border-left: 1px solid currentColor;
}
/* line 49, ../sass/_typo.scss */
.scroll-to-top:last-child {
  border: 0;
}
/* line 52, ../sass/_typo.scss */
.scroll-to-top:hover {
  text-decoration: none;
  opacity: .5;
}

/* line 57, ../sass/_typo.scss */
b, strong {
  font-weight: 600 !important;
}

/* line 61, ../sass/_typo.scss */
article h1 {
  color: #558dbe;
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 3.33em;
  text-transform: uppercase;
}
/* line 68, ../sass/_typo.scss */
article i, article em {
  font-style: italic;
}
/* line 70, ../sass/_typo.scss */
article p {
  color: #4d575e;
  font-size: 1em;
  line-height: 1.3;
  margin-bottom: 1.95em;
}
/* line 77, ../sass/_typo.scss */
article blockquote > * {
  color: #558dbe;
  font-size: 15.82px;
  line-height: 1.33;
  margin-bottom: 1.625em;
}
/* line 84, ../sass/_typo.scss */
article ul {
  margin-bottom: 2.3em;
}
/* line 86, ../sass/_typo.scss */
article ul li {
  /* margin:.5em 0 .5em 2em;*/
  background: transparent url("../img/bullets_beige.svg") no-repeat 0px 2px/auto 1em;
  margin: 0 0 1em 0;
  padding-left: 2em;
  line-height: 1.4;
}
/* line 95, ../sass/_typo.scss */
article#start ul {
  margin: 0;
}
/* line 97, ../sass/_typo.scss */
article#start ul li {
  display: block;
  font-size: 15.4px;
  line-height: 1.33;
  font-weight: bold;
  min-height: 68px;
}
/* line 103, ../sass/_typo.scss */
article#start ul li:before {
  background-image: none !important;
  margin: 0;
}
/* line 110, ../sass/_typo.scss */
article#kontakt {
  font-size: 15.4px;
  line-height: 2em;
}
/* line 113, ../sass/_typo.scss */
article#kontakt strong {
  color: #dacbaf;
}
/* line 117, ../sass/_typo.scss */
article#kontakt strong, article#kontakt .label {
  line-height: 1;
}
/* line 120, ../sass/_typo.scss */
article#kontakt p {
  margin-top: 0;
}
/* line 124, ../sass/_typo.scss */
article#impressum {
  font-size: inherit;
  line-height: inherit;
  text-align: center;
}
/* line 128, ../sass/_typo.scss */
article#impressum strong, article#impressum .label {
  font-size: 18.06px;
  line-height: 1.2em;
}
/* line 134, ../sass/_typo.scss */
article#kontakt, article#impressum {
  color: white;
  font-weight: 600;
}
/* line 138, ../sass/_typo.scss */
article#kontakt p, article#kontakt li, article#impressum p, article#impressum li {
  color: inherit;
}
/* line 142, ../sass/_typo.scss */
article#kontakt a, article#impressum a {
  color: white !important;
  text-decoration: underline;
}
/* line 146, ../sass/_typo.scss */
article#kontakt strong, article#kontakt .label, article#impressum strong, article#impressum .label {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1em;
}

/* line 157, ../sass/_typo.scss */
.header .nav li a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.93em;
}
/* line 161, ../sass/_typo.scss */
.header .nav li a:hover, .header .nav li a:focus {
  text-decoration: none;
}
/* line 166, ../sass/_typo.scss */
.header .nav li.active a {
  color: #c1a879;
}

/* line 169, ../sass/_typo.scss */
.footer {
  font-size: 1em;
  line-height: 2em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 178, ../sass/_typo.scss */
header .nav li.kontakt > a {
  font-size: 1.167em;
  text-transform: uppercase;
  font-weight: bold;
  color: white !important;
}
/* line 184, ../sass/_typo.scss */
header .nav li.kontakt > a:hover {
  text-decoration: none;
}
/* line 187, ../sass/_typo.scss */
header .nav li.kontakt:hover, header .nav li.kontakt.current-menu-item {
  background: #c1a879;
}

/**
 * Global styles
 */
/* line 15, ../sass/_grids.scss */
* {
  box-sizing: border-box;
}

/* line 18, ../sass/_grids.scss */
html,
body {
  height: 100%;
}

/* sticky footer and main width */
/* line 23, ../sass/_grids.scss */
.wrapper {
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 27, ../sass/_grids.scss */
.wrapper > #content {
  -webkit-flex: 1 0;
  flex: 1 0;
}

/* line 31, ../sass/_grids.scss */
.wrapper {
  width: 100%;
  max-width: 100%;
}

/* line 35, ../sass/_grids.scss */
.container {
  max-width: 1015px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 39, ../sass/_grids.scss */
.header nav {
  width: 79.31034%;
  float: left;
  margin-right: 3.44828%;
}
/* line 42, ../sass/_grids.scss */
.header .logo {
  width: 17.24138%;
  float: right;
  margin-right: 0;
}

/* line 47, ../sass/_grids.scss */
article section {
  margin: 0 auto;
}
/* line 50, ../sass/_grids.scss */
article .post_content {
  width: 68.96552%;
  float: left;
  margin-right: 3.44828%;
}
/* line 52, ../sass/_grids.scss */
article .post_content.full {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 56, ../sass/_grids.scss */
article .zitate {
  width: 27.58621%;
  float: right;
  margin-right: 0;
}
/* line 59, ../sass/_grids.scss */
article footer {
  clear: both;
}

/* line 64, ../sass/_grids.scss */
#impressum .row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
}
/* line 68, ../sass/_grids.scss */
#impressum .row [class*="col"] {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

/* line 74, ../sass/_grids.scss */
#kontakt .row {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
/* line 77, ../sass/_grids.scss */
#kontakt .row [class*="col"] {
  -webkit-flex: 1 0;
  flex: 1 0;
}

/* line 1, ../sass/_layout.scss */
.container {
  position: relative;
}

@media screen and (min-width: 768px) {
  /* line 4, ../sass/_layout.scss */
  .navbar-toggle {
    display: none;
  }
}

/* line 10, ../sass/_layout.scss */
header.header {
  height: 90px;
}
/* line 12, ../sass/_layout.scss */
header.header nav {
  margin-top: 50px;
}
/* line 15, ../sass/_layout.scss */
header.header nav ul li {
  float: left;
  display: inline-block;
  margin-right: 1em;
}
/* line 22, ../sass/_layout.scss */
header.header .logo {
  position: absolute;
  top: 25px;
  right: 0;
  right: 0;
  z-index: 9999;
  width: 200px;
}
/* line 29, ../sass/_layout.scss */
header.header .logo > img {
  max-width: 100%;
  height: auto;
}

/* line 35, ../sass/_layout.scss */
header .nav li.kontakt {
  position: fixed;
  top: 170px;
  left: -40px;
  z-index: 9999999999999;
  padding: 1em 1em .5em 1em;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background: #558dbe;
}

/* line 45, ../sass/_layout.scss */
article > header {
  height: 350px;
  background-position: 0 40%;
  background-size: cover;
  position: relative;
}
/* line 50, ../sass/_layout.scss */
article > header .thumbnail {
  background: transparent url("../img/Bilderrahmen.svg") top center no-repeat;
  width: 57.14286%;
  position: absolute;
  top: 2em;
  left: 2em;
  z-index: 99;
  padding: 3px;
  -moz-transform: rotate(-1.25deg);
  -webkit-transform: rotate(-1.25deg);
  -o-transform: rotate(-1.25deg);
  -ms-transform: rotate(-1.25deg);
  transform: rotate(-1.25deg);
}
/* line 60, ../sass/_layout.scss */
article > header .thumbnail img {
  border: .7em solid white;
  max-width: 100%;
  height: auto;
}
/* line 67, ../sass/_layout.scss */
article > section {
  min-height: 500px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  background-color: white;
  background-image: url("../img/Voegel.svg"), url("../img/Leuchtturm.svg");
  background-repeat: no-repeat;
  background-position: 0 60px,85% 20px;
  background-size: auto 80px, auto 375px;
  /*        background-attachment:fixed;*/
}
/* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
article > section:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 79, ../sass/_layout.scss */
.page-title {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -100%;
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 89, ../sass/_layout.scss */
#trauer-und-abschied .page-title {
  background-image: url("../img/bg-trauer-abschied.svg");
  width: 242px;
  height: 58px;
  top: 10%;
  left: 50%;
  margin-left: -121px;
}
/* line 97, ../sass/_layout.scss */
#so-begleite-ich-sie .page-title {
  background-image: url("../img/bg-so-begleite-ich-sie.svg");
  width: 244px;
  height: 69px;
  left: 10%;
  top: 65%;
}
/* line 104, ../sass/_layout.scss */
#fuer-trauerende .page-title {
  background-image: url("../img/bg-fuer-trauernde.svg");
  width: 190px;
  height: 70px;
  top: 25%;
  left: 55%;
}
/* line 111, ../sass/_layout.scss */
#fuer-eltern .page-title {
  background-image: url("../img/bg-fuer-eltern.svg");
  width: 145px;
  height: 59px;
  top: 35%;
  left: 10%;
}
/* line 119, ../sass/_layout.scss */
#fuer-kitas-und-schulen .page-title {
  background-image: url("../img/bg-fuer-kitas-schulen.svg");
  width: 191px;
  height: 97px;
  top: 30%;
  left: 55%;
}
/* line 126, ../sass/_layout.scss */
.page-title#ueber-mich, .page-title #kontakt, .page-title #impressum {
  display: none;
}

/* line 129, ../sass/_layout.scss */
article#start section, article#kontakt section, article#impressum section {
  background-image: none;
  background-color: transparent;
}
/* line 135, ../sass/_layout.scss */
article#kontakt section [class*="col"], article#impressum section [class*="col"] {
  border-width: 0 0 0 1px;
  border-style: dotted;
  border-color: white;
  width: 33%;
  min-height: 100px;
  padding: 1em 2em;
}
/* line 140, ../sass/_layout.scss */
article#kontakt section [class*="col"] > div:first-child, article#impressum section [class*="col"] > div:first-child {
  border: 0;
}
/* line 144, ../sass/_layout.scss */
article#kontakt section [class*="col"].last, article#impressum section [class*="col"].last {
  border-right: 0;
  padding-right: 0;
}
/* line 148, ../sass/_layout.scss */
article#kontakt section [class*="col"].first, article#impressum section [class*="col"].first {
  border-left: 0;
  padding-left: 0;
}
/* line 153, ../sass/_layout.scss */
article#kontakt section [class*="col"].full, article#impressum section [class*="col"].full {
  -webkit-flex-grow: 3;
  flex-grow: 3;
  width: 100%;
  border-width: 1px 0;
  border-style: dotted;
  border-color: white;
  margin-top: 3em;
  text-align: left;
}
/* line 159, ../sass/_layout.scss */
article#kontakt section [class*="col"].full > div, article#impressum section [class*="col"].full > div {
  padding: 1em 0 !important;
}
/* line 160, ../sass/_layout.scss */
article#kontakt section [class*="col"].full > div, article#impressum section [class*="col"].full > div {
  padding-top: 1em !important;
}
/* line 164, ../sass/_layout.scss */
article#start section {
  padding-top: 0;
  margin-top: -300px;
  min-height: 315px;
}
/* line 168, ../sass/_layout.scss */
article#start section ul {
  max-width: 450px;
}
/* line 170, ../sass/_layout.scss */
article#start section ul li {
  margin: 0 0 .2em 0;
  background-color: #80aace;
  background-color: rgba(85, 141, 190, 0.75);
  background-image: url("../img/bullets.svg");
  background-repeat: no-repeat;
  background-position: 1em 1em;
  background-size: auto 1em;
  padding: 1em 1em 1em 3em;
  color: white;
  display: block;
}
/* line 177, ../sass/_layout.scss */
article#start section ul li:hover {
  opacity: .8;
}

/* line 184, ../sass/_layout.scss */
article#start .article-header {
  min-height: 800px;
  background-position: 0 0;
}

/* line 188, ../sass/_layout.scss */
article#kontakt, article#impressum {
  background-color: #558dbe;
}

/* line 193, ../sass/_layout.scss */
article#ueber-mich .post_content p {
  padding: 0 3em;
}

/* line 198, ../sass/_layout.scss */
footer.footer {
  background: #558dbe;
  padding: 1em 0;
}
/* line 201, ../sass/_layout.scss */
body.home footer.footer {
  background-color: white !important;
}
/* line 203, ../sass/_layout.scss */
body.home footer.footer > * {
  color: #558dbe !important;
}
/* line 205, ../sass/_layout.scss */
body:not(.home) footer.footer * {
  color: white !important;
}

/* line 210, ../sass/_layout.scss */
.panel {
  margin-bottom: -1px;
}
/* line 211, ../sass/_layout.scss */
.panel .conditions {
  padding-bottom: 2em;
}
/* line 215, ../sass/_layout.scss */
.panel > header {
  padding: .5em 0;
  border-width: 1px 0;
  border-style: dotted;
  border-color: #558dbe;
  position: relative;
}
/* line 219, ../sass/_layout.scss */
.panel > header:hover {
  cursor: pointer;
}
/* line 222, ../sass/_layout.scss */
.panel > header:after {
  content: ' ';
  background: transparent url("../img/arrow.svg") no-repeat right center/cover;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -.25em;
  right: 0;
  height: 9px;
  width: 18px;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 234, ../sass/_layout.scss */
.panel > header.open:after {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 237, ../sass/_layout.scss */
.panel > header > * {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
}
/* line 244, ../sass/_layout.scss */
.panel table {
  width: 100%;
}
/* line 246, ../sass/_layout.scss */
.panel table > * {
  color: #558dbe;
}
/* line 249, ../sass/_layout.scss */
.panel table td {
  line-height: 1.4;
}
/* line 252, ../sass/_layout.scss */
.panel table tr:first-child td {
  padding-top: .5em;
}
/* line 255, ../sass/_layout.scss */
.panel table tr:last-child td {
  padding-bottom: .5em;
}
/* line 259, ../sass/_layout.scss */
.panel table tr td:first-child {
  width: auto;
}
/* line 261, ../sass/_layout.scss */
.panel table tr td:first-child ~ td {
  min-width: 30%;
}
/* line 265, ../sass/_layout.scss */
.panel.parent {
  padding-bottom: 2em;
}
/* line 267, ../sass/_layout.scss */
.panel.parent table {
  border-width: 0 0 1px 0;
  border-style: dotted;
  border-color: #558dbe;
}
/* line 271, ../sass/_layout.scss */
.panel.parent table tr td:first-child {
  width: 40%;
}

/* line 278, ../sass/_layout.scss */
.scroll-to-top {
  background: #5d7677 url("../img/arrow-white.svg") no-repeat center center/60%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  bottom: 1%;
  position: fixed;
  width: 40px;
  height: 40px;
  z-index: 9999;
  right: 5%;
  color: white;
  cursor: pointer;
  display: none;
  transition: all 0.1s linear 0s;
  opacity: 0.8;
}
/* line 293, ../sass/_layout.scss */
.scroll-to-top:hover {
  background-color: #c1a879;
  opacity: 0.5;
}

/*body {
    background:transparent url('../img/grid.png') top center / 1280px auto;
}*/
/*.container {
    border:1px solid red;
    > * {
        border:1px solid green;
    }
}*/
